<h2>
    Like posts of <%= @user.name %>
    <%= link_to "Back", user_path(current_user), class: 'header-menu'  %><br>
</h2>
<% if logged_in? %>
<ul>
    <% @likes.each do |like| %>
     <% post = Post.find_by(id: like.post_id) %>
     <li>
      <%= post.user.name %>
      <%= link_to post.title, post_path(post) %> 
     </li>
    <% end %>
</ul>
<% end %>  
</div>